@use "../utility/_functions.scss" as util;

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;

  color: #ccc;

  height: 100vh;

  &__text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    margin-left: 10rem;
    top: 50%;
    .hero__header {
      font-size: 6.2rem;
    }

    .hero__text {
      font-size: 3rem;
    }
    .hero__button-container {
      display: flex;
      //   justify-content: space-between;
    }
    .hero__portfolio-button {
      background-color: #111;
      color: #ccc;

      border: 3px solid rgb(177, 0, 0);
      transition: 300ms all;
    }

    .hero__portfolio-button:hover {
      background-color: #ccc;
      border: 5px solid rgb(177, 0, 0);

      color: #111;
    }

    .hero__portfolio-button:visited {
      color: #ccc;
    }

    .hero__portfolio-button:active {
      background-color: #aaa;
      color: #333;
      transition: 300ms all;
    }

    .hero__music-portfolio-button {
      background-color: #111;
      color: #ccc;

      margin-left: 2rem;
      border: 3px solid rgb(177, 0, 0);
      transition: 300ms all;
    }

    .hero__music-portfolio-button:hover {
      background-color: #ccc;
      border: 5px solid rgb(177, 0, 0);

      color: #111;
    }

    .hero__music-portfolio-button:visited {
      color: #ccc;
    }

    .hero__music-portfolio-button:active {
      background-color: #aaa;
      color: #333;
      transition: 300ms all;
    }
  }

  &__button-container {
    align-self: center;
    grid-row: 2/3;
  }

  &__container-right {
    z-index: -1;
    filter: brightness(50%);
  }
}
