/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: none;
  border: 2px dotted #222;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  background-color: #000;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
  // margin-right: 6.8rem;
  // margin-left: 6.8rem;
  /* padding-left: 6.4rem;
    padding-right: 6.4rem; */
}

.btn {
  padding: 1rem 1rem;
  font-size: 3rem;
}
.button-container {
  display: flex;
  gap: 2rem;
}
